<!DOCTYPE html>
<html>
<head>
  <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 <link rel="stylesheet" type="text/css" href='/styles/pizzaShack/index.css'>
  <link href="https://fonts.googleapis.com/css?family=Fascinate&display=swap" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/scripts/pizzaShack/displayOrders.js"></script>
  <script type="text/javascript" src="/scripts/pizzaShack/addToOrder.js"></script>
  <script type="text/javascript" src="/scripts/pizzaShack/adjustQuantity.js"></script>
  <script type="text/javascript" src="/scripts/pizzaShack/deleteOrder.js"></script>
  <script type="text/javascript" src="/scripts/pizzaShack/confirmOrder.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <div id="nav">

    <p id="logo">Pizza Shack <img style="margin-bottom: 2rem;"width="60" height="60" src="https://cdn0.iconfinder.com/data/icons/restaurant-53/64/Food-junk-pizza-fast_food-512.png"/></p>
      <% include ./partials/_header.ejs %>
    <!-- <a id="login" href="/login">Sign In</a> -->
  </div>


<div id="itemsOrdCheckout">
    Check out

    <div id="orderItemsContainer"></div>
<form method="POST" action="/pizzashack/confirmOrder">
     <button id="confirmOrder" style="margin:10px;" type="submit" class="btn btn-info">Confirm Order</button>
     <input type="hidden" id= "jim" name="totCost"></input>
    </form>
</div>

<div id="botNav">
  <div>
    <ul id="botNavList">
      <li> Email Offers </li>
      <li>|</li>
      <li> Gift Cards</li>
      <li>|</li>
      <li> Catering</li>
      <li>|</li>
      <li> Join Our Team</li>
      <li>|</li>
      <li> Privacy</li>
      <li>|</li>
      <li> Terms of Use</li>
    </ul>
  </div>
</div>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>