<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/styles/pizzaShack/index.css">
  <link href="https://fonts.googleapis.com/css?family=Fascinate&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <div id="nav" style="display:flex; justify-content: center;">

      <p id="logo">Pizza Shack <img style="margin-bottom: 2rem;"width="60" height="60" src="https://cdn0.iconfinder.com/data/icons/restaurant-53/64/Food-junk-pizza-fast_food-512.png"/></p>
  </div>

  <div id='backLink'><a href='/pizzashack'>< Back to Menu</a></div>


  <div id="loginContainer">
  <form class="formMain" action="/pizzashack/login" method="POST">
    <div class= "formDiv">
      <span> Email </span>
      <input class="formInp" type="text" name="email">
    </div>

    <div class= "formDiv">
      <span> Name </span>
      <input class="formInp" type="text" name="name">
    </div>
    <div class= "formDiv">
      <span> Password </span>
      <input class="formInp" type="password" name="password">
    </div>
    <div class= "formDiv">
      <span>Phone Number</span>
      <input class="formInp" type="tel" name="phone">
    </div>
    <div class= "formDiv">
      <span>Admin Password</span>
      <input class="formInp" type="text" name="adminPword">
    </div>
    <input type="submit" name="submit">

  </form>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>