<div id="header">
    <div id="slideshow">
      <div>
        <img src="/images/dog.jpg">
      </div>
      <div>
        <img src="/images/battleShip.png">
      </div>
      <div>
        <img src="/images/codingGraphic.jpg">
      </div>
      <div>
        <img src="/images/me.jpg">
      </div>
    </div>

    <div id="nameTitle">
      <h2>Nick Newburg - Juniour Web Developer</h2>
    </div>

    <div id="contactInfo">
      <ul id="contactList">
        <li>778-384-4459</li>
        <li>|</li>
        <li>nicknewburg@gmail.com<li>
        <li>|</li>
        <li><a href="https://github.com/nnewburg">GitHub <img src="/images/github_logo.png" align="bottom"></a></li>
    </div>


    <div id="linksDiv">
        <a href="/aboutme">About Me</a>
        <a href="/projects">Projects</a>
        <a href="/resume">CV/Resume</a>
    </div>
</div>