<div id="header">
    <div id="slideshow">
      <div>
        <img src="/images/dog.jpg">
      </div>
      <div>
        <img src="/images/battleShip.png">
      </div>
      <div>
        <img src="/images/codingGraphic.jpg">
      </div>
      <div>
        <img src="/images/me.jpg">
      </div>
    </div>

    <div id="nameTitle">
      <h2>Nick Newburg</h2>
    </div>

    <div id="linksDiv">

        <a href="#home">About Me</a>
        <a href="#news">Projects</a>
        <a href="#contact">CV/Resume</a>
    </div>
</div>