<div id="header">
  <div id="nav">
    <div id="nameTitle">
      <h2><a href="/">NICK NEWBURG</a></h2>
    </div>

    <a class="sectionLink" href="/aboutme">About Me</a>
    <a class="sectionLink" href="/projects">Projects</a>
    <a class="sectionLink" href="/resume">Resume</a>
  </div>
  <% if(page === 'landing'){ %>
  <div id="profileCard">
    <div id ="headShot">
      <img height="150px" width="150px" src="../../../images/me.png">
    </div>
    <div id="mainNameTitle">
      <h1>NICK NEWBURG</h1>
    </div>
    <div id="description">
      <h2>Years of Web-Development experience independently or in a team</h2>
    </div>
  </div>
  <% }else if(page === 'Resume'){ %>
  <div class="sectionCard">
    <div class="sectionContainer">
      <h1><a href="/resume"> <%= page %> </a></h1>
      <h2>Avaliable in a downloadable PDF just click</h2>
    </div>
  </div>
  <% }else if(page === 'Biography'){ %>
  <div class="sectionCard">
    <div class="sectionContainer">
      <h1><a href="/aboutme"> <%= page %> </a></h1>
      <h2>Read about me in much more detail, organized into three sections</h2>
    </div>
  </div>
  <% }else if(page === 'Projects'){ %>
  <div class="sectionCard">
    <div class="sectionContainer">
      <h1><a href="/projects"> <%= page %> </a></h1>
      <h2>Test out my projects in a live demo, or read the Github documentation for their code</h2>
    </div>
  </div>
  <% } %>
</div>