<!DOCTYPE html>
<html>
<head>
  <title></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href='/styles/header.css'>
  <link rel="stylesheet" type="text/css" href='/styles/index.css'>
 <link href="https://fonts.googleapis.com/css?family=Kulim+Park&display=swap" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/scripts/navBar.js"></script>
<script type="text/javascript" src="/scripts/swapBio.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div id="main">

  <div id='newNav'>

  </div>


  <% include ./partials/_header.ejs %>

<div id="landingContainer">
  <div id="landingBio">
    <h3>About me </h3>
    <p>Logical problem solver whether it is work or fun. Enjoying competitive board or card games. Love hockey, fishing, and working out. Employee and volunteer for <a href='https://www.assistlist.ca' target='_blank'>assistlist.ca </a>with dozens of hours of live features. Graduate of LightHouse Labs web-development bootcamp. Have a look at <a href="/resume">my resume</a>, <a href="/projects">projects</a>, or a more <a href="/aboutme">detailed summary here.</a>
    </p>
  </div>
  <div id="contact">
    <h3>Contact</h3>
    <ul id="contactList">
      <li style="margin-left: 20px"><img height="50px" width="50px" src=../../../images/email.png>   nicknewburg@gmail.com</li>
      <li style="margin-left: 25px"><img height="40px" width="40px" src=../../../images/phone.png>&nbsp;&nbsp; 778-384-4459</li>
      <li style="margin-top: 10px"><a id="gitHub" href="https://github.com/nnewburg"><img height="40px" width="40px" src=../../../images/github_logo.png> &nbsp;  GitHub</a></li>
      <li style="margin-top: 10px"><a id="linkedin" href="https://github.com/nnewburg"><img height="40px" width="40px" src=../../../images/linkedIn.png> &nbsp;  LinkedIn</a></li>
    </ul>
  </div>
</div>


</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>