<!DOCTYPE html>
<html>
<head>
  <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href='/styles/header.css'>
  <link rel="stylesheet" type="text/css" href='/styles/projects.css'>
 <link href="https://fonts.googleapis.com/css?family=Kulim+Park&display=swap" rel="stylesheet">

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/scripts/navBar.js"></script>
<script type="text/javascript" src="/scripts/enlargeImg.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div id="main">
    <div id='newNav'>

  </div>
  <% include ./partials/_header.ejs %>

  <div id="projectsCont">

    <div class="card mb-3" style="max-width: 1500px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="/images/barChart.png" class="card-img-top" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
             <h5 class="card-title">Bar Chart</h5>
              <p class="card-text">An application to create a barchart allowing a user to input values and graphically represent them, my first project ever</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">HTML, CSS, Jquery</li>
              <li class="list-group-item"><a href="/barchart" class="card-link">Demo Application</a>
              <li class="list-group-item"><a href="https://github.com/nnewburg/BarChart" class="card-link">Github Documentation</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3" style="max-width: 1500px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="/images/tinyApp1.png" class="card-img-top" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
          <h5 class="card-title">Tiny App</h5>
            <p class="card-text">An application to create shortened URLS</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">HTML, CSS, Jquery, Knex, Postgres, Bcrypt</li>
            <li class="list-group-item"><a href="/tinyApp" class="card-link">Demo Application</a>
            <li class="list-group-item"><a href="https://github.com/nnewburg/tinyApp" class="card-link">Github Documentation</a></li>
          </ul>
          </div>
        </div>
      </div>


    <div class="card mb-3" style="max-width: 1500px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="/images/BattleShipFin.png" class="card-img-top" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Battle Ship</h5>
            <p class="card-text">An application to play the boardgame Battleship</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">HTML, CSS, Jquery</li>
            <li class="list-group-item"><a href="/battleship" class="card-link">Demo Application</a>
            <li class="list-group-item"><a href="https://github.com/nnewburg/battleShip" class="card-link">Github Documentation</a></li>
          </ul>
          </div>
        </div>
      </div>


    <div class="card mb-3" style="max-width: 1500px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="/images/pizzaShack1.png" class="card-img-top" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
          <h5 class="card-title">Pizza Shack</h5>
            <p class="card-text">Emulates a food ordering website</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">HTML, CSS, Jquery, HTML, CSS, Jquery, Knex, Postgres, Bcrypt, Bootstrap</li>
            <li class="list-group-item"><a href="/pizzashack" class="card-link">Demo Application</a>
            <li class="list-group-item"><a href="https://github.com/nnewburg/pizzaShack" class="card-link">Github Documentation</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="card mb-3" style="max-width: 1500px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="/images/resourceWall1.png" class="card-img-top" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
          <h5 class="card-title">Resource Wall</h5>
          <p class="card-text">Emulates a pinetrest</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">HTML, CSS, Jquery, HTML, CSS, Jquery, Knex, Postgres, Bcrypt, Bootstrap</li>
          <li class="list-group-item"><a href="/resourcewall" class="card-link">Demo Application</a>
          <li class="list-group-item"><a href="https://github.com/nnewburg/resourceWall" class="card-link">Github Documentation</a></li>
        </ul>
      </div>
    </div>


  </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>