body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    background-color: #f6f6f6;
}


.orderDiv{
    position: relative;
    border: 2px black solid;
    background-color: white;
    height: 3em;
}



#nav{
    justify-content: space-between;
    position: fixed;
    display: flex;
    color: white;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 10vh;
    background-color: red;
    top: 0;
    z-index: 999;
    vertical-align: middle;
    box-shadow: 5px 10px 8px 10px #888888
}

#botNav{
     justify-content: center;
    position: fixed;
    display: flex;
    color: white;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 5vh;
    background-color: gray;
    bottom: 0;
    z-index: 999;
    vertical-align: middle;
    box-shadow: 5px 10px 8px 10px #888888
}

#botNav ul{

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#botNav li {
     display: block;
    text-align: center;
    float: left;
    margin-left: 1rem;
    margin-right: 1rem;
}



#main{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 2px black solid;
  margin: 10%;
  width: 60%;
  background-color: #f6f6f6;
  box-shadow: 5px 10px 8px 10px #888888;
  font-family: 'Mansalva', cursive;
  font-size: 20px;
}

#adminMain{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 2px black solid;
  margin: 10%;
  width: 75%;
  background-color: #f6f6f6;
  box-shadow: 5px 10px 8px 10px #888888;
  font-family: 'Mansalva', cursive;
  font-size: 15px;
}

#loginContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 2px black solid;
  margin: 10%;
  width: 38%;
  background-color: #f6f6f6;
  box-shadow: 5px 10px 8px 10px #888888;
  font-family: 'Mansalva', cursive;
  font-size: 20px;
}

.formMain{
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  font-family: 'Mansalva', cursive;
  font-size: 20px;
}

.formInp{
    float:right;
}

.formDiv{
    width: 100%;
    margin-bottom: 2rem;
}

#itemsOrdCheckout{

  background-image: linear-gradient(to top right, yellow, red);
  border-radius: 8%;
  padding: 0.3rem;
  justify-content: space-around;
  border: 2px black solid;
  margin: 10%;
  width: 30%;
  box-shadow: 5px 10px 8px 10px #888888
}

.orderPrice{
    display: inline;
     margin-left: 4rem;
}

.card{

    width: 27vw;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
}

.card-img-top {
    width: 100%;
    height: 9vw;
    object-fit: cover;
}

#login{
    padding-right: 2rem;
}

#rightContainer{
    display: flex;
    flex-direction: row;
}

#rightContainer p {
    margin-top: 1rem;
}

#logo{
    font-family: 'Fascinate';
    font-size: 2.5rem;
}

#myOrder{

    position: fixed;
    height: fit-content;
    padding: 0.4rem;
    overflow: hidden;
    width: 25vw;
    border: 5px solid black;
    margin-right: 5%;
    background-color: #f6f6f6;
    margin-top: 10%;
    margin-left: 73%;
    box-shadow: 5px 10px 8px 10px #888888
}

.cartItem{
    padding: 0.3rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    width: 90%;
    height: 14vh;

}

.formInp{
    float: right;
}

.orderItem{
    display: inline;
}

.orderItemCost{
    position: absolute;
    right: 0;
    float: right;
}

/

.adminItems{
    display: inline-block;
}

.adminTel{
  margin-left: 2rem;
}

.adminDesc{
  position: absolute;
  left: 40%;
}

.adminCost{
  position: absolute;
  right: 0;
}

#orderItemsContainer{
    width: 80%;
    margin-left: 10%;
}

.itemInputBox{
    margin-left: 1em;
    height: 35%;
    width: 30%;
}

.itemPrice{
    margin-bottom: 0px;
}

.adminOrdDiv{
    position: relative;
    display: flex;
    /*justify-content: space-between;*/
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
}