<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
  <title>Waterhole - Register</title>
  <!-- Bootstrap CSS -->
  <link rel='stylesheet' href='/vendor/normalize-4.1.1.css' type='text/css' />
  <link rel='stylesheet' href='/vendor/border-box.css' type='text/css' />
  <link rel='stylesheet' href='/styles/resourceWall/styles.css'type='text/css'/>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous'>
  <link href='https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,700,700i' rel='stylesheet'>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type='text/javascript' src='/scripts/resourceWall/app.js'></script>
  <script type='text/javascript' src='/scripts/resourceWall/user-avatar.js'></script>

</head>

<body id='users'>
  <% include ./partials/_header %>
  <main id='user-avatar'>
    <figure>
      <img id='avatar-display' src='../../images/resourceWall/hippo.png'>
    </figure>
  </main>
  <div class='login-form'>
  <form method='POST' action='/resourcewall_register' id='register-form'>
    <main id="register">
      <label for='name'>Your Name: </label>
      <input class='form-control' type='text' name='name' placeholder='Your name here'>
      <label for='name'>Your Avatar: </label>
      <select class='user-avatar' id='avatar' name='profile_image'>
        <option class='avatar' value='../images/resourceWall/ape.png'> Ape </option>
        <option class='avatar' value='../images/resourceWall/baboon.png'> Baboon </option>
        <option class='avatar' value='../images/resourceWall/cheetah.png'> Cheetah </option>
        <option class='avatar' value='../images/resourceWall/elephant1.png'> Elephant </option>
        <option class='avatar' value='../images/resourceWall/fox.png'> Fox </option>
        <option class='avatar' value='../images/resourceWall/giraffe.png'> Giraffe </option>
        <option class='avatar' value='../images/resourceWall/goat.png'> Goat </option>
        <option class='avatar' value='../images/resourceWall/koala.png'> Koala </option>
        <option class='avatar' value='../images/resourceWall/lion.png'> Lion </option>
        <option class='avatar' value='../images/resourceWall/panda.png'> Panda </option>
        <option class='avatar' value='../images/resourceWall/rhinoceros.png'> Rhinoceros </option>
        <option class='avatar' value='../images/resourceWall/tarsier.png'> Tarsier </option>
        <option class='avatar' value='../images/resourceWall/tiger.png'> Tiger </option>
        <option class='avatar' value='../images/resourceWall/wildebeest.png'> Wildebeest </option>
        <option class='avatar' value='../images/resourceWall/wolf.png'> Wolf </option>

      </select>
      <label for='email'>Your Email: </label>
      <input class='form-control' type='email' name='email' placeholder='example@gmail.com'>
      <label for='password'>Password: </label>
      <input class='form-control' type='password' name='password' placeholder='Enter your password here'>
       <button type='submit' class='btn-light' style='margin-top:5px'> Register </button>
    </div>
  </form>
  </main>
</body>

</html>
