#header {
  color: #2e2e2e;
  display: block;
  background-color: white;
  border-bottom: solid 1px rgba(0,0,0,.125);
  position: relative;

}

#header #nameTitle{
 font-family: 'Kulim Park', sans-serif;
 position: relative;
 float: left;
}

#header #nameTitle h2{
  padding: 13px;
}

#header #nav {
  background-color: white;
   border-bottom: solid 1px rgba(0,0,0,.125);
  height: 60px;
}

#header #profileCard {
  background-color: #f5f8fa;
  height: 348px;
  width: 100%;
  padding: 2rem;
}


a {
  float: right;
  text-align: center;
  padding-top: 0.50em;
  height: 100%;
  width: 150px;
  color: #2e2e2e;
  font-size: 1.5em;
  opacity: 0.7;
  display: inline-block;
  text-decoration: none;
}

 a:hover {
  background-color: #bae6ff;
  color: #0074d9;
  text-decoration: none;
  opacity: 1;
}
