/*Main navigation bar present on every page, except project demo's*/

#header {
  color: #2e2e2e;
  display: block;
  background-color: white;
  border-bottom: solid 1px rgba(0,0,0,.125);
  position: relative;

}

.navbar{
  font-family: 'Kulim Park', sans-serif;
}

#nameTitle{
 font-family: 'Kulim Park', sans-serif;
 position: relative;
 float: left;
 padding: 13px;
}

#nav {
  background-color: white;
  border-bottom: solid 1px rgba(0,0,0,.125);
  height: 60px;
}

h1 {
  font-family: 'Kulim Park', sans-serif;
}

/* Landing page main container */

#profileCard {
  text-align: center;
  background-color: #f5f8fa;
  height: 408px;
  width: 100%;
  padding: 2rem;
}

#description{
  margin: 0 auto;
  width: 100%;
  font-family: 'helvetica neue', 'Helvetica' ,sans-serif;
  color: #9ea8ad;
}

#headShot {
  display: inline-block;
  border: solid 1px black;
  border-radius: 50%;
  margin: 0 auto;
}

#headShot img {
  margin: 0 auto;
  padding: 0.4em;
  border-radius: 50%;
}

#nameTitle a{
  color: #2e2e2e;
  text-decoration: none;
}

.sectionLink {
  float: right;
  text-align: center;
  padding-top: 0.50em;
  height: 100%;
  width: 150px;
  color: #2e2e2e;
  font-size: 1.5em;
  opacity: 0.7;
  display: inline-block;
  text-decoration: none;
}

 .sectionLink:hover {
  background-color: #bae6ff;
  color: #0074d9;
  text-decoration: none;
  opacity: 1;
}

/*Individual content containers depending on the page*/

.sectionCard {
  text-align: center;
  background-color: #f5f8fa;
  height: 175px;
  width: 100%;
  padding: 2rem;
}

.sectionContainer{
  font-family: 'Kulim Park', sans-serif;
  text-align: left;
  margin-left: 15%;
  width: 700px;
  color: #2e2e2e;
}

.sectionContainer h2{
  color: #9ea8ad;
}

.sectionCard a:hover{
  color: #0074d9;
  text-decoration: none;
  opacity: 1;
}

.sectionCard a{
  color: #2e2e2e;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {

  h2{
    font-size: 1.5rem;
  }

  .sectionContainer{
    width: 100%;
    margin-left: 0px;

  }

  .sectionCard{
    height: 225px;
  }

}

@media only screen and (max-width: 800px) {

  h2{
    font-size: 1.5rem;
  }

  .sectionContainer{
    width: 100%;
    margin-left: 0px;

  }



}