#header {
  color: #2e2e2e;
  display: block;
  background-color: white;
  border-bottom: solid 1px rgba(0,0,0,.125);
  position: relative;

}

#header #nameTitle{
 font-family: 'Kulim Park', sans-serif;
 position: relative;
 float: left;
}

#header #nameTitle h2{
  padding: 13px;
}

#header #nav {
  background-color: white;
  border-bottom: solid 1px rgba(0,0,0,.125);
  height: 60px;
}

#header #profileCard {
  text-align: center;
  background-color: #f5f8fa;
  height: 408px;
  width: 100%;
  padding: 2rem;
}

#mainNameTitle{
  font-family: 'Kulim Park', sans-serif;
  display: inline-block;
  width: 700px;
  font-size: 2em;
  margin: 0 auto;
}

h1{
  font-size: 2em;
  letter-spacing: 5px;
}

#description{
  margin: 0 auto;
  color: #2e2e2e;
  width: 600px;
}

#description h2{
  font-family: 'helvetica neue', 'Helvetica' ,sans-serif;
  color: #9ea8ad
}

#headShot {
  display: inline-block;
  border: solid 1px black;
  border-radius: 50%;
  margin: 0 45%;
}

#headShot img {
  margin: 0 auto;
  padding: 0.4em;
  border-radius: 50%;
}

.sectionLink {
  float: right;
  text-align: center;
  padding-top: 0.50em;
  height: 100%;
  width: 150px;
  color: #2e2e2e;
  font-size: 1.5em;
  opacity: 0.7;
  display: inline-block;
  text-decoration: none;
}

 .sectionLink:hover {
  background-color: #bae6ff;
  color: #0074d9;
  text-decoration: none;
  opacity: 1;
}

#nameTitle a{
  color: #2e2e2e;
  text-decoration: none;
}