body{
   background-color: #C3C7C7;
}

#projectsCont{
  margin: 5% 10% 10% 10%;
  border: 3px black solid;
  display: flex;
  flex-direction: row;
  background-color: #9494b8;

}

.card{
/*  display: inline-block;*/
margin: 3%;

}


.card img {
  height: 200px;
  width: 100%;
  border: 1px solid gray;
}

