body{
   background-color: #C3C7C7;
}

#projectsCont{
  margin: 5% 10% 10% 10%;
  border: 3px black solid;
  display: flex;
  flex-direction: row;

}

.card{
/*  display: inline-block;*/
}


.card img {
  height: 200px;
  width: 18rem;
}

