body{
   background-color: white;

}

#projectsCont{
width: 70%;
margin: 25px auto 0 auto;

}

.card{
/*  display: inline-block;*/
margin: 2%;
display: block;

}


.card img {
  height: 350px;
  width: 100%;
  border: 1px solid gray;
}

