<% if (user){ %>
  <div id="rightContainer">
    <form method="POST" action="/pizzashack/logout">
      <button style="margin:10px;" type="submit" class="btn btn-primary" style= "margin: 0px 10px;">logout</button>
    </form>
    </div>
<% } else { %>
<button id="login" style="margin:10px;" type="submit" class="btn btn-info" onclick="window.location.href = 'pizzashack/login';">Sign In</button>

<% } %>


